*{margin:0;padding:0;box-sizing:border-box;}
body{font-family:monospace;font-style:normal;text-decoration:none;background-color:#110099;color:#aaeeee;}
.content{margin:auto;width:100%;height:50%;font-weight:bold;}
